# Custom files/directories to ignore
# -----------------------------------

# Directories
__pycache__
wandb
slurm-output
saved_models
Tritiumconcentration__Sample_0_of_4
Visualizations

# Files
*.pth
*.log
*.npy